<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>

      <ol>
        <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.description %> of <%= dose.ingredient.name %>  </li>
          <%= link_to "Delete", dose_path(dose), { class: "label label-danger", method: :delete } %>
          <%= link_to "Other cocktails", ingredient_path(dose.ingredient) %>
        <% end %>
      </ol>

      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient, collection: Ingredient.all, selected: "lemon"  %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>

      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
